* {
  font-family: sans-serif;
}

.App--header {
  align-items: center;
  background-color: rgb(12, 17, 66);
  display: flex;
  height: 100px;
  padding: 20px;
  width: 100%;
}

.Main--container {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
  width: 100%;
}

.Button--primary {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: rgb(12, 17, 66);
  margin: 20px 0;
  padding: 12px 24px;
  background: rgb(43, 212, 219);
  // background: #22a77d;
  border: none;
  border-radius: 8px;

  &:hover {
    background: rgb(107, 225, 230);
  }
}

